:root {
    --res-img-width: 100vw;
    --header-height: 10vh;
    --footer-height: 10vh;


    --color1: #ffffff;
    --color2: #aa421f;
    --bg-color1: #d0c6bc;
    --bg-color2: #add8e6;
    --color-variation1: #877a6f;
}

@media all and (max-height:100vmin) {
    :root {
        --res-img-width: 100vmin;
        --header-height: 10vmin;
        --footer-height: 10vmin;
    }
}

.error {
    margin: 0 auto;
    padding: 1vmin;
    overflow-wrap: break-word;
    height: fit-content;
    width: fit-content;
    color: #ff0000;
    font-size: 1em;
    font-style: italic;
    font-weight: 500;
    text-align: justify;
}

/*              Header      */
header {
    display: table;
    position: fixed;
    z-index: 100;
    margin: 0;
    padding: 0;
    height: var(--header-height);
    width: fit-content;
}

.setWidget {
    width: 100vw;
    background-color: #ffffff;
}

header h1 {
    display: table-cell;
    margin: 0;
    padding: 0 1vmin;
    width: fit-content;
    background-color: #000000;
    color: var(--color1);
    font-size: 1em;
    font-style: oblique;
    font-family: Cambria;
    font-weight: 1000;
    vertical-align: middle;
}

header span {
    color: var(--color2);
}

header .imageWidget {
    display: table-cell;
    margin: 0;
    padding: 0;
    width: fit-content;
    height: inherit;
    vertical-align: middle;
}

header img {
    display: block;
    margin: 0 auto;
    padding: 0.5% 0;
    height: 99%;
    border-radius: 1em;
}

header .searchIcon {
    display: table-cell;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50%;
    vertical-align: middle;
}

header .searchBar {
    display: table-cell;
    margin: 0;
    padding: 0;
    width: fit-content;
    height: 80%;
    vertical-align: middle;
}

header i {
    margin: 0;
    padding-left: 0;
    float: right;
    width: fit-content;
    font-size: 50%;
}

header input[type='text'] {
    margin: 0;
    padding: 1%;
    padding-left: 0;
    max-height: 90%;
    width: fit-content;
    max-width: 40vw;
    font-size: 0.9em;
    font-weight: 100;
    border: 0;
}

header input[type='text']::placeholder {
    font-style: italic;
    font-weight: 300;
    font-size: 1em;
}

header input[type='text']:focus {
    outline: none;
}


/*              Homepage   */
.homepage {
    background: var(--bg-color1);
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.homepage .container {
    position: inherit;
    width: 100%;
    height: 100%;
    background-image: url('./img/WebNote.jpg');
    background-repeat: no-repeat;
    background-size: var(--res-img-width) auto;
    background-position: center center;
}

.homepage section {
    display: block;
    margin: 50vh auto;
    padding-left: 5vmin;
    width: calc((var(--res-img-width)/4)*3);
    height: fit-content;
    background: unset;
    font-style: italic;
    font-size: 0.7em;
}

.about {
    font-weight: 500;
    text-align: justify;
    color: var(--color2);
}

.homepage button,
.homepage input {
    display: block;
    margin: 2vmin auto;
    padding: 2%;
    width: calc(var(--res-img-width)/2);
    height: fit-content;
    border: solid var(--color-variation1) 1%;
    border-radius: 5vmin;
    background-color: var(--color1);
}

.homepage input:focus {
    border: solid var(--color-variation1) 1%;
}

.homepage button:hover {
    background-color: var(--color2);
}

/*              Catalog      */

.catalog {
    position: absolute;
    left: 0;
    top: var(--header-height);
    height: calc(100vh - var(--header-height) - var(--footer-height));
    width: 100vw;
    background-color: var(--bg-color2);
}